---
layout: archive
title: "Media / Videos"
permalink: /media/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.media reversed %}
  {% include archive-single.html %}
{% endfor %}

<b>Towards Dense Correspondences Between Any Two Images</b><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/I_u9t30Qxj4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
Invited speaker at the <a href="http://cs.haifa.ac.il/~hagit/VisionDay/visionDay_2014.html"><font color="SkyBlue">IDC Israel Vision Day</font></a>, December 21st, 2014, Israel. 


 


