---
layout: archive
title: "Media / Videos"
permalink: /media/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.media reversed %}
  {% include archive-single.html %}
{% endfor %}

<ul>
<li><b>Towards Dense Correspondences Between Any Two Images</b><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/I_u9t30Qxj4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
Invited speaker at the <a href="http://cs.haifa.ac.il/~hagit/VisionDay/visionDay_2014.html"><font color="SkyBlue">IDC Israel Vision Day</font></a>, December 21st, 2014, Israel. 
</li>
  
<li><b>The OpenU Symposium on Surveillance and Tracking</b> (Hebrew)
<iframe width="560" height="315" src="https://www.youtube.com/embed/jLF-yFTm-I4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
Co-organizer of the <a href="http://www.openu.ac.il/events/cs/171114.html"><font color="SkyBlue">OpenU Symposium on Surveillance and Tracking Day</font></a>, November 17th, 2014, Israel.
<br/><a href="https://www.youtube.com/playlist?list=PLEMOEwdRMCan4DjyKYYARFdVqjAIXkT1H"><font color="SkyBlue">More talks from that day</font></a><br/>
</li>
  
<li><b>What Do Action Recognition Benchmarks Tell Us About Action Recognition Capabilities?</b><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Wwv31_ESyUs#t=269" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
Invited speaker at <a href="http://crcv.ucf.edu/ICCV13-Action-Workshop/"><font color="SkyBlue">THUMOS: The First International Workshop on Action Recognition with a Large Number of Classes</font></a>, December 7th, 2013, ICCV'13, Sydney, Australia.
</li>

<li><b>Faces in Photos and Videos</b> (Hebrew)<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dz0UELnPXUg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
Co-organizer of the <a href="http://www.openu.ac.il/events/130513.html"><font color="SkyBlue">OpenU Symposium on Biometrics for Recognition: Science, Technology, and Society</font></a>, May 13th, 2013, Israel. 
<a href="https://www.youtube.com/playlist?list=PLEMOEwdRMCam73cqlLrin97B0nQE5vode"><font color="SkyBlue">More talks from that day</font></a><br/>
</li>
  
<li>A demo of an early (partial) version of our online system, for <b>3D viewing of faces</b><br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/K01hUNIKU0E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
This demo was presented before Nobel laureate and Israeli President, Mr. Shimon Peres and featured on Channel 10, Israeli TV, November 14th, 2012 (in Hebrew).
</li>
  

</ul>
