body {
	margin:0;
	padding: 4px;
	background-color: #E8EEF7;
	font-family: Tahoma, Arial;
	font-size: 11pt;
    line-height: 21px;
}

#wrapper {
	width: 935px;
	margin: 0 auto;
	border: 2px solid #0B61A4;
	padding: 0;
	background-color: #F7F7F7;
	font-family: Helvetica, Arial, Sans-serif;
}

#inside {
	width: 920px;
	float: left;
}

#rightpanel {
	width: 200px;
	float: right;
	margin-right: 4px;
	margin-top: 10px;
}

#footer {
	clear: both;
}

h1 {
	font-family: Helvetica, Arial, Sans-serif;
	color: white;
	background-color: #0B61A4;
	margin: 0;
	padding: 8px;
	font-size: 18pt;
}

#header img {
	float: left;
}

#inside {
	margin: 8px;
}

#navigation ul {
	margin-bottom: 3px;
	margin-top: 400px;
}

#navigation ul li {
	display: inline;
	margin: 0 2px;
	padding: 4px 8px;
	background-color: #0B61A4;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	color: white;
}

#navigation ul li.selected {
	background-color: #F7F7F7;
	color: black;
	/* -moz-border-radius: 4px 4px 0 0; */
	/* border-radius: 4px 4px 0 0; */
	border: solid #0B61A4;
	border-width: 1px;
	border-bottom: 1px solid #F7F7F7;
}

.content {
	background-color: #F7F7F7;
	border-top: 1px solid #0B61A4;
	margin: 0;
	padding: 4px 0;
}

#navigation li a {
	color: white;
	text-decoration: none;
	}
#navigation li.selected a {
	color: #0B61A4;
	}

a.headlink {
	text-decoration: none;
	color: white;
	}
	